h1, h2, h3{
  text-align: center;
}

.f1 img, .f2 img{
  object-fit: cover;
}

.f1, .f2{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.f2 img{
  width: 240px;
  height: 150px;
}

figcaption{
  max-width: 200px;
}

body{
  margin: 0;
}

p{
  text-align: justify;
  text-indent: 17px;
}

header{
  background-color: #191970;
  color: #D3D3D3;
}

main{
  margin-left: 30px;
  margin-right: 30px;
}

a{
  color: 	#DCDCDC;
}

